customaggregator/src/main/app/customaggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration" basePath="/mc"/>
    <flow name="messagechunksplitterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/MessageChunk" doc:name="HTTP" allowedMethods="post" doc:description="This example is to explain about A File can be spilt into  different sizes of chunks various sizes and after message chunk aggregator to a File"/>
        <logger message="*************#[payload]" level="INFO" doc:name="Logger"/>
        <message-chunk-splitter messageSize="220" doc:name="Message Chunk Splitter"/>
        <file:outbound-endpoint path="src/test/resources/split" responseTimeout="10000" doc:name="File"/>
        <message-chunk-aggregator failOnTimeout="true" doc:name="Message Chunk Aggregator">
            <expression-message-info-mapping messageIdExpression="#[message.id]" correlationIdExpression="#[message.correlationId]"/>
        </message-chunk-aggregator>
        <file:outbound-endpoint path="src/test/resources/aggregator" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
