asynch-flow/src/main/app/asynch-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" basePath="/asy" doc:name="HTTP Listener Configuration"/>
    <flow name="asynch-flowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/asynch" doc:name="HTTP"/>
        <logger message=" Flow 1 started..............." level="INFO" doc:name="Logger"/>
        <async doc:name="Async">
            <flow-ref name="asynch-flowFlow1" doc:name="asynch Flow Reference"/>
        </async>
        <file:outbound-endpoint path="src/test/resources/flow1" responseTimeout="10000" doc:name="File"/>
        <logger message="flow1 completed..... #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="asynch-flowFlow1">
        <logger message="2nd flow started................." level="INFO" doc:name="Logger"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[sleep(30000)]]></scripting:script>
        </scripting:component>
        <file:outbound-endpoint path="src/test/resources/flow2" responseTimeout="10000" doc:name="File"/>
        <logger message="flow2 completed...." level="INFO" doc:name="Logger"/>
    </flow>
</mule>
