dummy/target/classes/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="training.cloudhub.io" port="80" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="2635" doc:name="HTTP Listener Configuration"/>
    <flow name="rest-service2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/fr" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger" message="***********"/>
        <choice doc:name="Choice">
            <when expression="message.inboundProperties.'http.query.params'.destination">
                <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/#[message.inboundProperties.'http.query.params'.destination]" method="GET" doc:name="HTTP"/>
            </when>
            <otherwise>
                <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights" method="GET" doc:name="HTTP"/>
            </otherwise>
        </choice>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>

        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
